@model List<InternalProject1.Models.Employee>

<div class ="row">
    <div class="col-md-3">
         <a> 
            @Html.ActionLink("Export to Excel",
            "Export",
            "Home",
            htmlAttributes: new { @class = "btn btn-primary"}
            )
        </a>
    </div>
    <div class="col-md-3">
        <a> 
            @Html.ActionLink("Import from Excel",
            "Import",
            "Home",
            htmlAttributes: new { @class = "btn btn-primary"}
            )
        </a>
    </div>
    <div class="col-md-3">
        <a> 
            @Html.ActionLink("Create New Employee","Add","Home",htmlAttributes: new {@class="btn btn-success"})
        </a>
    </div>
</div>
<div class ="row">
    <div class ="col-md-12">
        <table class="table">
                <tr>
                    <td>Id</td>
                    <td>Name</td>
                    <td>Role</td>
                    <td>Email</td>
                    <td>Edit</td>
                    <td>Delete</td>
                </tr>
            <tbody>
                @foreach (var employee in Model)
                {
                    <tr>
                        <td>@employee.Id</td>
                        <td>@employee.Name</td>
                        <td>@employee.Role</td>
                        <td>@employee.Email</td>
                        <td>@Html.ActionLink("Edit","Edit",new{Id = employee.Id},htmlAttributes: new {@class="btn btn-warning"}) </td>
                        <td>@Html.ActionLink("Delete","DeleteEmployee",new{Id = employee.Id},htmlAttributes: new {@class="btn btn-danger"}) </td>
                    </tr>
                }
            </tbody>
        </table>
        @Html.ActionLink("Create New Employee","Add","Home",htmlAttributes: new {@class="btn btn-success"})
    </div>
</div>
