@model List<InternalProject1.Models.Employee>

<div class ="row">
    <div class="col-md-6">
         <a> 
            @Html.ActionLink("Export to Excel",
            "Export",
            "Home",
            new { @class = "btn btn-primary"}
            )
        </a>
    </div>
    <div class="col-md-6">
        <a> 
            @Html.ActionLink("Import to Excel",
            "Import",
            "Home",
            new { @class = "btn btn-primary"}
            )
        </a>
    </div>
</div>
<div class ="row">
    <div class ="col-md-12">
        <table class="table">
            <thread>
                <tr>
                    <td>Name</td>
                    <td>Role</td>
                    <td>Email</td>
                </tr>
            </thread>
            <tbody>
                @foreach (var student in Model)
                {
                    <tr>
                        <td>@student.Name</td>
                        <td>@student.Role</td>
                        <td>@student.Email</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
